body {
    background:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    padding-top: 5vh;
}

body>p {
    width: 40vw;
    margin: 10px auto;
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

h2, h3 {
    color: hsl(234, 12%, 34%);
}

h2 {
    font-size: 2rem;
    font-weight: 400rem;
}

.cardDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cyan, .red, .yellow, .blue {
    position: relative;
    width: calc(33vw / 4);
    min-width: 250px;
    box-shadow: 0 5px 35px -10px hsl(229, 6%, 66%);
    border-radius: 3px;
    margin: 10px 10px;
    padding: 10px 10px 74px 10px;
}

.cyan {
    border-top: solid 3px hsl(180, 62%, 55%);
}

.red {
    border-top: solid 3px hsl(0, 78%, 62%);
}

.yellow {
    border-top: solid 3px hsl(34, 97%, 64%);
}

.blue {
    border-top: solid 3px hsl(212, 86%, 64%);
}

.cardDisplay img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.midSection {
    display: flex;
    flex-direction: column;
}
