body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
}

h2 {
    color: #888;
    font-weight: 300;
    text-align: center;
}

.cardDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    opacity: 0;
    width: 300px;
    height: 400px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 0 5px 0 #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: opacity 0.4s;
}

.card > p {
    padding: 0 10%;
    color: #888;
    text-align: center;
}

.card > img {
    height: 90px;
    border-radius: 45px;
    justify-self: center;
}

.card > span, .card > a {
    font-size: 0.9rem;
    color: #888;
}

