body {
    background: url(/seamless-pattern.jpg) repeat;
    color: #10171b;
}
main {
    padding: 3vh 10vw;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.box {
    border: solid 1px #10171b;
    border-radius: 1rem;
    background: white;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}
.box > h2 {
    display: inline-block;
    width: auto;
    margin: 0 0 0 1rem;
    padding: 0 1rem;
    background-color: white;
    position: relative;
    border-radius: 1rem;
    border: solid 1px #10171b;
    top: -1rem;   
}
a:visited {
    color: inherit;
}